.cases {
	padding-bottom: 137px;
	&__slider {
	}
	// &__item {
	// 	border-radius: 25px;
	// 	position: relative;
	// 	max-width: 400px;
	// }
	&__wrap {
		-webkit-perspective: 150rem;
		perspective: 150rem;
		-moz-perspective: 150rem;
		position: relative;
		height: 421px;
	}

	&__item {
		height: 421px;
		max-width: 400px;
		-webkit-transition: all 0.8s ease;
		transition: all 0.8s ease;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		overflow: hidden;
		backdrop-filter: blur(40px);
		background: rgba(20, 15, 50, 0.5);
		border: 2px solid rgba(255, 255, 255, 0.25);
		border-radius: 25px;
	}

	&__information {
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
		z-index: -99;

		border: 2px solid rgba(255, 255, 255, 0.25);
		padding: 24px;
		backdrop-filter: blur(40px);
		background: rgba(20, 15, 50, 0.5);
		.cases__name {
			min-height: auto;
			padding-bottom: 16px;
		}
	}

	&__wrap:hover .cases__item {
		-webkit-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
	}

	&__wrap:hover .cases__information {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
		z-index: 99;
	}

	&__bottom {
		border-top: 2px solid rgba(255, 255, 255, 0.25);
		border-radius: 0 0 25px 25px;
		padding: 23px 24px;
	}
	&__name {
		background: url("../img/cases/bgname.png") no-repeat left bottom;
		min-height: 80px;
		margin-bottom: 16px;
		font-weight: 500;
		font-size: 24px;
		line-height: 1.33333;
	}
	&__info {
		display: grid;
		grid-template-areas:
			"number link"
			"text link";
		justify-content: space-between;
		gap: 8px;
	}
	&__number {
		grid-area: number;
		font-size: 24px;
		line-height: 1.33333;
		background-repeat: no-repeat;
		background-position: left center;
		padding-left: 40px;
		&_screen {
			background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.6665 4.08643H25.3332C26.394 4.08643 27.4115 4.50785 28.1616 5.258C28.9117 6.00814 29.3332 7.02556 29.3332 8.08643V20.0864C29.3332 21.1473 28.9117 22.1647 28.1616 22.9149C27.4115 23.665 26.394 24.0864 25.3332 24.0864H6.6665C5.60564 24.0864 4.58822 23.665 3.83808 22.9149C3.08793 22.1647 2.6665 21.1473 2.6665 20.0864L2.6665 8.08643C2.6665 7.02556 3.08793 6.00814 3.83808 5.258C4.58822 4.50785 5.60564 4.08643 6.6665 4.08643ZM11.9998 25.4198H19.9998C20.3535 25.4198 20.6926 25.5602 20.9426 25.8103C21.1927 26.0603 21.3332 26.3995 21.3332 26.7531C21.3332 27.1067 21.1927 27.4459 20.9426 27.6959C20.6926 27.9459 20.3535 28.0864 19.9998 28.0864H11.9998C11.6462 28.0864 11.3071 27.9459 11.057 27.6959C10.807 27.4459 10.6665 27.1067 10.6665 26.7531C10.6665 26.3995 10.807 26.0603 11.057 25.8103C11.3071 25.5602 11.6462 25.4198 11.9998 25.4198Z' fill='white' /%3E%3C/svg%3E");
		}
		&_side {
			background-image: url("data:image/svg+xml,%3Csvg width='28' height='27' viewBox='0 0 28 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.0001 2.52118V26.5212C17.2836 26.5214 16.5718 26.4062 15.8921 26.1798L11.3334 24.6598V0.566515C11.5956 0.620237 11.8543 0.689696 12.1081 0.774515L16.7347 2.31718C17.1429 2.4523 17.5702 2.52207 18.0001 2.52118ZM20.6667 1.84918L25.5494 0.222515C25.7507 0.150234 25.9664 0.127424 26.1783 0.156008C26.3902 0.184593 26.5922 0.263735 26.7671 0.386755C26.942 0.509775 27.0848 0.673065 27.1834 0.862846C27.2819 1.05263 27.3334 1.26333 27.3334 1.47718V22.8105C27.3335 23.0957 27.2421 23.3734 27.0726 23.6029C26.9032 23.8323 26.6647 24.0013 26.3921 24.0852L20.6667 25.9932V1.84918ZM8.66675 0.566515V24.6598L2.45075 26.7332C2.24938 26.8055 2.03356 26.8283 1.82153 26.7996C1.60949 26.771 1.40747 26.6917 1.23251 26.5686C1.05756 26.4454 0.914822 26.2819 0.81635 26.092C0.717878 25.902 0.666566 25.6911 0.666749 25.4772V4.14385C0.666693 3.85864 0.758091 3.58093 0.927521 3.35151C1.09695 3.12208 1.33548 2.95303 1.60808 2.86918L7.89208 0.773182C8.14592 0.688814 8.40461 0.6198 8.66675 0.566515Z' fill='white' /%3E%3C/svg%3E");
		}
		&_user {
			background-image: url("data:image/svg+xml,%3Csvg width='31' height='24' viewBox='0 0 31 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.0529 16.8001C19.9209 16.3471 19.4689 15.1021 19.4689 15.1021C19.4689 15.1021 18.9589 15.3841 18.9589 14.5921C18.9589 13.8001 19.4689 15.1021 19.9789 12.0441C19.9789 12.0441 21.3919 11.6471 21.1089 8.36414H20.7689C20.7689 8.36414 21.6189 4.85414 20.7689 3.66414C19.9189 2.47614 19.5809 1.68414 17.7119 1.11714C15.8429 0.550138 16.5239 0.663138 15.1649 0.721138C13.8049 0.779138 12.6729 1.51414 12.6729 1.91114C12.6729 1.91114 11.8229 1.96714 11.4849 2.30714C11.1449 2.64714 10.5789 4.23114 10.5789 4.62714C10.5789 5.02314 10.8619 7.68714 11.1449 8.25214L10.8079 8.36614C10.5239 11.6491 11.9379 12.0461 11.9379 12.0461C12.4479 15.1041 12.9579 13.8021 12.9579 14.5941C12.9579 15.3861 12.4479 15.1041 12.4479 15.1041C12.4479 15.1041 11.9959 16.3491 10.8639 16.8021C9.73189 17.2541 3.44789 19.6881 2.93689 20.1981C2.42489 20.7081 2.48289 23.0861 2.48289 23.0861H29.4299C29.4299 23.0861 29.4899 20.7091 28.9779 20.1981C28.4679 19.6881 22.1829 17.2541 21.0509 16.8021L21.0529 16.8001ZM8.58289 16.6281C8.48289 16.4481 8.43489 16.3181 8.43489 16.3181C8.43489 16.3181 8.00289 16.5581 8.00289 15.8861C8.00289 15.2141 8.43489 16.3181 8.86689 13.7261C8.86689 13.7261 10.0669 13.3911 9.82689 10.6081H9.53689C9.53689 10.6081 9.68089 10.0181 9.77489 9.27414C9.77067 8.94173 9.78302 8.60932 9.81189 8.27814L9.84989 7.85214C9.82989 7.36014 9.74289 6.91214 9.53789 6.62614C8.81789 5.61914 8.52989 4.94614 6.94789 4.46614C5.36389 3.98614 5.93789 4.08214 4.78789 4.13114C3.63589 4.18114 2.67589 4.80314 2.67589 5.14114C2.67589 5.14114 1.95589 5.18814 1.66789 5.47614C1.39789 5.74614 0.962889 6.93814 0.910889 7.36114V7.64114C0.958889 8.29514 1.17089 10.0911 1.38089 10.5141L1.09489 10.6101C0.854889 13.3921 2.05489 13.7281 2.05489 13.7281C2.48489 16.3181 2.91789 15.2161 2.91789 15.8881C2.91789 16.5601 2.48589 16.3181 2.48589 16.3181C2.48589 16.3181 2.10289 17.3761 1.14289 17.7581L0.910889 17.8501V23.0841H1.48589C1.45589 21.8061 1.56289 20.1571 2.23189 19.4901C2.58889 19.1351 3.75589 18.5501 8.58489 16.6281H8.58289ZM30.9129 7.57214C30.8729 7.19414 30.7859 6.85714 30.6209 6.62614C29.9029 5.61814 29.6139 4.94614 28.0309 4.46614C26.4479 3.98614 27.0239 4.08214 25.8709 4.13114C24.7209 4.18114 23.7609 4.80314 23.7609 5.14114C23.7609 5.14114 23.0409 5.18814 22.7529 5.47614C22.4829 5.74814 22.0429 6.94814 21.9949 7.36614H22.0279L22.1079 8.28014C22.1279 8.51014 22.1299 8.71514 22.1349 8.92414C22.2249 9.59014 22.3449 10.2741 22.4649 10.5141L22.1789 10.6091C21.9389 13.3911 23.1389 13.7271 23.1389 13.7271C23.5709 16.3171 24.0019 15.2151 24.0019 15.8871C24.0019 16.5591 23.5719 16.3171 23.5719 16.3171C23.5719 16.3171 23.5179 16.4601 23.4079 16.6571C28.1779 18.5571 29.3349 19.1371 29.6879 19.4901C30.3579 20.1581 30.4619 21.8061 30.4329 23.0851H30.9129V17.7801L30.8629 17.7581C29.9029 17.3751 29.5189 16.3181 29.5189 16.3181C29.5189 16.3181 29.0859 16.5581 29.0859 15.8881C29.0859 15.2181 29.5189 16.3181 29.9499 13.7281C29.9499 13.7281 30.7539 13.4981 30.9129 11.8881V10.6601C30.9129 10.6421 30.9129 10.6271 30.9099 10.6101H30.6199C30.6199 10.6101 30.8359 9.72014 30.9129 8.74814V7.57214Z' fill='white' /%3E%3C/svg%3E");
		}
		&_flag {
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='26' viewBox='0 0 24 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H12.5093C12.7569 0.000132198 12.9995 0.0691775 13.21 0.199403C13.4206 0.329629 13.5907 0.515892 13.7013 0.737333L14.6667 2.66667H22.6667C23.0203 2.66667 23.3594 2.80714 23.6095 3.05719C23.8595 3.30724 24 3.64638 24 4V18.6667C24 19.0203 23.8595 19.3594 23.6095 19.6095C23.3594 19.8595 23.0203 20 22.6667 20H14.1573C13.9098 19.9999 13.6672 19.9308 13.4566 19.8006C13.2461 19.6704 13.076 19.4841 12.9653 19.2627L12 17.3333H2.66667V25.3333H0V0Z' fill='white' /%3E%3C/svg%3E");
		}
	}
	&__text {
		grid-area: text;
	}
	&__link {
		grid-area: link;
		justify-self: end;
		align-self: end;
		z-index: 99;
		cursor: pointer;
		&_modal {
			position: absolute;
			right: 24px;
			bottom: 24px;
		}
	}
	.slick-slide {
		padding: 0 10px;
	}
}
@media (max-width: 1280px) {
	.cases {
		&__container {
			padding: 0;
			max-width: 100%;
		}
		&__wrap {
			width: 400px;
		}
	}
}
@media (max-width: 768px) {
	.cases {
		padding-bottom: 48px;
		&__container {
			max-width: 552px;
		}
		.slick-slide {
			padding: 0 10px;
		}
		&__wrap {
			width: 190px;
			height: 284px;
			&:hover .cases__item {
				-webkit-transform: rotateY(0deg);
				transform: rotateY(0deg);
			}
		}
		&__item {
			max-width: 190px;
			width: 190px;
			height: 220px;
			margin-top: 35px;
		}
		&__bottom {
			padding: 12px;
		}
		&__number {
			font-size: 12px;
			line-height: 1.25;
			padding-left: 24px;
			background-size: contain;
		}
		&__name {
			min-height: auto;
			font-size: 12px;
			line-height: 1.25;
			padding-bottom: 6px;
		}
		&__text {
			font-weight: 400;
			font-size: 10px;
			line-height: 1.42857;
		}

		&__information {
			display: none;
		}

		.slick-center {
			margin: 0 -75px;
			.cases__wrap {
				width: 252px;
				height: 284px;
				position: relative;
				z-index: 99;
				&:hover .cases__item {
					// -webkit-transform: rotateY(180deg);
					// transform: rotateY(180deg);
				}
				&:hover .cases__information {
					// -webkit-transform: rotateY(0);
					// transform: rotateY(0);
				}
			}
			.cases__item {
				max-width: 252px;
				width: 252px;
				height: 284px;
				z-index: 9999;
				margin-top: 0;
			}
			.cases__bottom {
				padding: 16px 14px;
			}
			.cases__number {
				font-size: 16px;
				line-height: 1.25;
				padding-left: 32px;
			}
			.cases__name {
				font-size: 16px;
				line-height: 1.25;
				height: 48px;
			}
			.cases__text {
				font-weight: 300;
				font-size: 14px;
				line-height: 1.42857;
			}
			.cases__information {
				padding: 16px;
				// display: block;
				font-size: 14px;
				// z-index: -99;
				.cases__name {
					height: auto;
				}
				.case__text {
					font-size: 14px;
				}
			}
		}
		&__link {
			&_modal {
				right: 16px;
				bottom: 16px;
			}
		}
	}
}
