.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(19, 23, 64, 0.3);
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 9;
}

.overlay.visible {
	opacity: 1;
	visibility: visible;
}

.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-20px);
	transition: all 0.5s ease;
	&.visible {
		opacity: 1;
		visibility: visible;
		transform: translateY(10px);
		transition: all 0.5s ease;
	}
	&__block {
		display: flex;
		width: 1200px;
		flex-direction: column;
		gap: 20px;
		flex-shrink: 0;
		border-radius: 25px;
		// background-color: #1f2662;
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
		background-image: image-set(
			url("../img/modal/bg.avif") type("image/avif"),
			url("../img/modal/bg.webp") type("image/webp"),
			url("../img/modal/bg.png")
		);
		cursor: default;
		position: relative;
	}
	&__container {
		min-height: 663px;
		padding: 64px;
		border-radius: 25px;
		background-repeat: no-repeat;
		background-position: right bottom;
	}

	&__close {
		position: absolute;
		top: 0;
		right: -40px;
		display: flex;
		width: 32px;
		height: 32px;
		justify-content: center;
		align-items: center;
		border-radius: 100%;
		background: rgba(196, 196, 196, 0.01);
		border: 2px solid rgba(255, 255, 255, 0.25);
		backdrop-filter: blur(40px);
		box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.15);
		cursor: pointer;
	}
	.cases__link {
		display: none;
	}
	&__name {
		font-weight: 500;
		font-size: 48px;
		line-height: 1.33333;
		margin-bottom: 48px;
		max-width: 580px;
	}
	&__info {
		min-height: 45px;
		display: flex;
		align-items: center;
		gap: 32px;
		margin-bottom: 24px;
	}
	.cases__number {
		background: none;
		padding-left: 0;
		font-weight: 700;
		font-size: 52px;
		line-height: 0.42308;
		color: #c8d8ff;
	}
	&__text {
		max-width: 550px;
	}
	&-5 {
		.modal__text {
			max-width: 450px;
		}
	}
	&-reviews {
		&_2 {
			.modal__name {
				max-width: 210px;
				word-wrap: break-word;
			}
		}
		.modal {
			&__container {
				min-height: auto;
			}
			&__block {
				background: #1f2662;
			}

			&__text {
				margin-bottom: 24px;
			}
			&__info {
				.reviews__fio {
					font-weight: 500;
					font-size: 16px;
					line-height: 1.625;
				}
				.reviews__work {
					font-size: 14px;
					line-height: 1.42857;
					-webkit-line-clamp: none;
				}
			}
		}
	}
}

.modal-success {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-20px);
	transition: all 0.5s ease;
	background-color: rgba(19, 23, 64, 0.3);
	&.visible {
		opacity: 999;
		visibility: visible;
		transform: translateY(10px);
		transition: all 0.5s ease;
	}
	&__container {
		display: flex;
		max-width: 800px;
		flex-direction: column;
		gap: 20px;
		flex-shrink: 0;
		border-radius: 25px;
		background-color: rgba(31, 38, 98, 1);
		cursor: default;
		position: relative;
	}
	&__body {
		display: flex;
		flex-direction: column;
		gap: 8px;
		font-size: 16px;
		line-height: 1.375;
		position: relative;
		padding: 32px 24px 48px 24px;
		text-align: center;
		b {
			font-weight: 500;
			font-size: 24px;
			line-height: 1.33333;
		}
		img {
			max-width: 120px;
			margin: 0 auto 20px;
		}
	}
	.modal__close {
		position: absolute;
		top: -40px;
		right: 0px;
		display: flex;
		width: 32px;
		height: 32px;
		justify-content: center;
		align-items: center;
		border-radius: 100%;
		background: rgba(196, 196, 196, 0.01);
		border: 2px solid rgba(255, 255, 255, 0.25);
		backdrop-filter: blur(40px);
		box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.15);
		cursor: pointer;
	}
}

@media (max-width: 1280px) {
	.modal {
		&__block {
			width: 728px;
		}
		&__container {
			padding: 32px;
			min-height: 524px;
			background-position: right bottom;
			background-size: auto 520px;
			position: relative;
			&::before {
				content: "";
				background: linear-gradient(90deg, #32225b 0%, #6a48c1 100%);
				opacity: 0.3;
				border-radius: 25px;
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				bottom: 0;
			}
		}
		&__name {
			font-size: 24px;
			line-height: 1.33333;
			margin-bottom: 24px;
			z-index: 99;
			position: relative;
		}
		&__info {
			min-height: 32px;
			z-index: 99;
			position: relative;
		}
		.cases__number {
			font-size: 24px;
			line-height: 0.91667;
			white-space: nowrap;
			z-index: 99;
			position: relative;
		}
		&__text {
			max-width: 448px;
			z-index: 99;
			position: relative;
		}
	}
}
@media (max-width: 768px) {
	.modal {
		&__block {
			max-width: 340px;
			// background-color: #1f2662;
			background-repeat: no-repeat;
			background-position: center top;
			background-size: cover;
			background-image: image-set(
				url("../img/modal/bg-mobile.avif") type("image/avif"),
				url("../img/modal/bg-mobile.webp") type("image/webp"),
				url("../img/modal/bg-mobile.png")
			);
		}
		&__container {
			min-height: 600px;
			&::before {
				display: none;
			}
		}
		&__close {
			right: 0;
			top: -40px;
		}
		&__container {
			padding: 24px;
			background-position: center bottom !important;
			background-size: auto 340px;
		}
		&__name {
			max-width: 290px;
		}
		&__info {
			flex-direction: column;
			align-items: start;
			gap: 8px;
			margin-bottom: 16px;
			.cases__text {
				font-size: 16px;
				line-height: 1.375;
			}
		}
		&__text {
			max-width: 100%;
			font-size: 14px;
			line-height: 1.42857;
		}
	}
	.modal-8 {
		.modal__name {
			max-width: 230px;
			word-break: break-word;
		}
	}

	.modal-success {
		&__container {
			max-width: 340px;
		}
		&__body {
			font-size: 14px;
			line-height: 1.42857;
			b {
				font-size: 16px;
				line-height: 1.25;
			}
		}
	}
}
